<section>
	<header class="main">
		<h1>{{_category}}</h1>
	</header>
	<span class="image main"><img src="images/pic11.jpg" alt="" /></span>
									
									<h2>介紹教育部創新教學試辦計畫</h2>
									<p>埤塘是桃園最重要的文化地景之一，多數研究以自然科學家為主，從農田水利、都市計畫、自然與人文地理，生態保育等觀點進行探究，較少關懷人文脈絡的探索。</p>
									<p>本創新教學試辦計畫的名稱為「頑皮塘101數位文創智造夢工廠」，規劃透過至少101小時以創新教學為主，傳統教學為輔的方式，運用學生最熟悉的數位科技，以「千塘之鄉」的桃園地方文化資產為創作素材，採取問題導向、創意啟發與創客創新的創新教學方法，推動以學生為主體的創新教學，學生從討論中學習居民智慧、生活文化，以及感受土地、埤塘水岸景觀的真實，以培養學生積極主動的思維與態度，從而豐富其創意，提升其創新與自主實踐能力。</p>

									<hr class="major" />

									<h2>本院計畫內容與宗旨</h2>
									<p>本創新教學試辦課程設計過程，採取PDCAB循環的實踐，包括規劃(plan)、實踐(do)、檢視(check)、回饋與改善(action)與標竿學習(benchmarking)等步驟，透過，逐步落實。</p>
									<p>一、	起夢：起夢共識營3小時，參與創新教學之教師、輔導員與行政助理聚會討論，凝聚教學共識，討論未來進行方式或其他相關問題。</p>
									
									<p>二、	尋夢：尋夢沙龍6小時，圓夢學生全體參與，主要任務是：</p>
									<p>(一)由夢工廠主任說明夢工廠的意義、教學方式與同學參與方式，並且說明圓夢學生的任務：一、必須完成各項活動課程之實作；二、必須完成業師的提案項目；三、課程結束後參與成果發表之團體競賽。</p>
									<p>(二)參與學生分成5組，每組配置一名輔導員（由人社院文產博士生或碩士生擔任），主要任務為：為小組命名、選出小組長、擬參與成果發表之創作主題、擬運用的數位科技工具，例如桃園埤塘的生態動畫片，或拍攝埤塘社區的微電影等，無論作品形式為何，最終作品均需以數位內容形式呈現。</p>
									<p>(三)每位同學組成LINE群組，便於聯繫與討論。</p>
									<p>三、	解夢：主要是以傳統教學方法，傳授有關桃園埤塘的基本知識，稱為「基礎課程」共21小時，由人社院參與教師與社區實務工作者擔任師資，以觀念傳遞、互動討論與知識分享為主。課程科目初步包括：「桃園埤塘知多少？」、「埤塘─聚落發展的生命之水」、「形形色色的埤塘生物」、「埤塘發『聲』的事」、「桃園文化地圖行旅」、「社會企業家產業學堂」、「數位工具百寶箱」、「電子商務大觀園」、「社區尋寶與智造」等，提供各組「圓夢」行動的知識基礎。</p>
									<p>四、	踏夢：實地巡禮埤塘8小時，由教師與輔導員帶領，分組進行桃園埤塘巡禮，包括：中壢士校大池、八德埤塘生態公園、楊梅秀才山5B埤塘公園、龍潭觀光大池新屋、新屋後湖塘等。由各組自行認養要「夢遊」的埤塘與社區，同時選擇從玩文學、玩美學、玩文創、玩影音或玩生態的角度進行「築夢」作品的創作計畫，並於課程結束前完成逐夢作品。</p>
									<p>五、	築夢：創新教學課程34小時，由人社院參與教師與業師共同擔任築夢師資，以相互合作精神共同操作，採取問題導向教學法，由業師提出問題，學生提出解決構想。課程主題係以埤塘為主題，包括下列課程：</p>
									<p>(一)「玩影音」實作課程：由各組決定要採用的影音數位科技後，自行邀請專業師資授課，例如學習手機攝影、設計LOGO等，計10小時，授課鐘點費由本教學計畫支付。</p>
									<p>(二)「玩創意」內容發想：由人社院教師與業師共同上課，引導各組學生針對選定文創產品的創意內容提出發想，計6小時。</p>
									<p>(三)「玩文學」廣告文案：由人社院教師與廣告實務工作者共同引導各組學生針對選定文創產品（例如推銷休閒旅遊景點、旅館、民宿等）的廣告文案進行撰寫練習，計6小時。</p>
									<p>(四)「玩美學」藝術創客：由人社院教師與業師共同上課，引導各組針對選定文創產品的商業藝術展現提出構想，計6小時。</p>
									<p>(五)「玩生態」社區參與：由人社院教師與業師共同上課，引導各組針對選定文創產品的連結社區進行意見蒐集與共識發展，計6小時。</p>
									<p>六、	追夢：參訪數位文創公司6小時，例如奧亞數位文創、三貝德數位文創等，透過標竿學習。</p>
									<p>七、	造夢：造夢行動20小時，針對提案進行數位文創的設計，以及針對成果展覽辦理競賽活動，並邀請相關企業、團體、社區人員參與評比。</p>
									<p>八、	圓夢：教學成果檢視3小時，計畫執行期中與期末時，與參與教師、業師、學生座談，執行問卷調查，瞭解參與老師、學生、專家、助理、講師對於試辦計畫之評價，檢視此一創新教學法的相關執行問題與改進方式。</p>
									<p>九、	夢實踐：將最終結果建置桃園埤塘生態與文化創意價值資料庫，所有造夢過程的酸甜苦辣與實際成果，均建置於此一資料庫，供後續創新教學實施的經驗傳承。</p>
									

									<hr class="major" />

									<h2>作法</h2>
									<p>「頑皮塘101數位文創智造夢工廠」創新教學試辦計畫運用觀念新穎、共同參與、學生主體、多元適性、科技善用、永續創新等原則加以設計。</p>
									<p>透過至少101小時以創新教學為主，傳統教學為輔的方式，結合學生最熟悉的數位科技工具，透過「玩文學」、「玩美學」、「玩影音」、「玩文創」、「玩生態」等「五玩」理念，落實埤塘人文、生態為桃園重要環境教育場所與空間，並結合周遭社區，將埤塘水圳與社區有效連結，讓人與水之間更加密切；進行桃園埤塘印象，讓埤塘地景成為重要的視覺景觀。</p>
									<p>圖1為圓夢示意圖</p>
									
									<span class="image main"><img src="images/pic1.jpg" alt="" /></span>
									
								</section>
								
								<!-- 夢想起飛 -->
								<section  style="font-family:Microsoft JhengHei;">
									<header class="main">
										<h1>夢想起飛</h1>
									</header>

									<span class="image main"><img src="images/pic11.jpg" alt="" /></span>
									
									<h2>意涵</h2>
									<p>本創新教學試辦課程設計過程，採取PDCAB循環的實踐，包括規劃(plan)、實踐(do)、檢視(check)、回饋與改善(action)與標竿學習(benchmarking)等步驟，透過，逐步落實。</p>
									<p>起夢：起夢共識營3小時，參與創新教學之教師、輔導員與行政助理聚會討論，凝聚教學共識，討論未來進行方式或其他相關問題。</p>
									<p>尋夢：尋夢沙龍6小時，圓夢學生全體參與，主要任務是：</p>
									<p>(一)由夢工廠主任說明夢工廠的意義、教學方式與同學參與方式，並且說明圓夢學生的任務：一、必須完成各項活動課程之實作；二、必須完成業師的提案項目；三、課程結束後參與成果發表之團體競賽。</p>
									<p>(二)參與學生分成5組，每組配置一名輔導員（由人社院文產博士生或碩士生擔任），主要任務為：為小組命名、選出小組長、擬參與成果發表之創作主題、擬運用的數位科技工具，例如桃園埤塘的生態動畫片，或拍攝埤塘社區的微電影等，無論作品形式為何，最終作品均需以數位內容形式呈現。</p>
									<p>(三)每位同學組成LINE群組，便於聯繫與討論。</p>
									
									<hr class="major" />

									<h2>課程內容</h2>
									<p>本創新教學試辦課程設計過程，採取PDCAB循環的實踐，包括規劃(plan)、實踐(do)、檢視(check)、回饋與改善(action)與標竿學習(benchmarking)等步驟，透過，逐步落實。</p>
									
									<hr class="major" />

									<h2>活動照片</h2>
									<p>「頑皮塘101數位文創智造夢工廠」創新教學試辦計畫運用觀念新穎、共同參與、學生主體、多元適性、科技善用、永續創新等原則加以設計。</p>
									
									
									<span class="image main"><img src="images/pic1.jpg" alt="" /></span>
									
								</section>
								
								<!-- 解夢分享 -->
								<section  style="font-family:Microsoft JhengHei;">
									<header class="main">
										<h1>解夢分享</h1>
									</header>

									<span class="image main"><img src="images/pic11.jpg" alt="" /></span>
									
									<h2>意涵</h2>
									<p>解夢：主要是以傳統教學方法，傳授有關桃園埤塘的基本知識，稱為「基礎課程」共21小時，由人社院參與教師與社區實務工作者擔任師資，以觀念傳遞、互動討論與知識分享為主。</p>
									<p>課程科目初步包括：「桃園埤塘知多少？」、「埤塘─聚落發展的生命之水」、「形形色色的埤塘生物」、「埤塘發『聲』的事」、「桃園文化地圖行旅」、「社會企業家產業學堂」、「數位工具百寶箱」、「電子商務大觀園」、「社區尋寶與智造」等，提供各組「圓夢」行動的知識基礎。</p>
									
									<hr class="major" />

									<h2>課程內容</h2>
									<p>本創新教學試辦課程設計過程，採取PDCAB循環的實踐，包括規劃(plan)、實踐(do)、檢視(check)、回饋與改善(action)與標竿學習(benchmarking)等步驟，透過，逐步落實。</p>
									
									<hr class="major" />

									<h2>活動照片</h2>
									<p>「頑皮塘101數位文創智造夢工廠」創新教學試辦計畫運用觀念新穎、共同參與、學生主體、多元適性、科技善用、永續創新等原則加以設計。</p>
									
									
									<span class="image main"><img src="images/pic1.jpg" alt="" /></span>
									
								</section>
								
								<!-- 踏夢之旅 -->
								<section  style="font-family:Microsoft JhengHei;">
									<header class="main">
										<h1>踏夢之旅</h1>
									</header>

									<span class="image main"><img src="images/pic11.jpg" alt="" /></span>
									
									<h2>意涵</h2>
									<p>踏夢：實地巡禮埤塘8小時，由教師與輔導員帶領，分組進行桃園埤塘巡禮，包括：中壢士校大池、八德埤塘生態公園、楊梅秀才山5B埤塘公園、龍潭觀光大池新屋、新屋後湖塘等。由各組自行認養要「夢遊」的埤塘與社區，同時選擇從玩文學、玩美學、玩文創、玩影音或玩生態的角度進行「築夢」作品的創作計畫，並於課程結束前完成逐夢作品。</p>
									
									<hr class="major" />

									<h2>課程內容</h2>
									<p>本創新教學試辦課程設計過程，採取PDCAB循環的實踐，包括規劃(plan)、實踐(do)、檢視(check)、回饋與改善(action)與標竿學習(benchmarking)等步驟，透過，逐步落實。</p>
									
									<hr class="major" />

									<h2>活動照片</h2>
									<p>「頑皮塘101數位文創智造夢工廠」創新教學試辦計畫運用觀念新穎、共同參與、學生主體、多元適性、科技善用、永續創新等原則加以設計。</p>
									
									
									<span class="image main"><img src="images/pic1.jpg" alt="" /></span>
									
								</section>
								
								<!-- 築夢逐夢 -->
								<section  style="font-family:Microsoft JhengHei;">
									<header class="main">
										<h1>築夢逐夢</h1>
									</header>

									<span class="image main"><img src="images/pic11.jpg" alt="" /></span>
									
									<h2>意涵</h2>
									<p>築夢：創新教學課程34小時，由人社院參與教師與業師共同擔任築夢師資，以相互合作精神共同操作，採取問題導向教學法，由業師提出問題，學生提出解決構想。課程主題係以埤塘為主題，包括下列課程：</p>
									<p>(一)「玩影音」實作課程：由各組決定要採用的影音數位科技後，自行邀請專業師資授課，例如學習手機攝影、設計LOGO等，計10小時，授課鐘點費由本教學計畫支付。</p>
									<p>(二)「玩創意」內容發想：由人社院教師與業師共同上課，引導各組學生針對選定文創產品的創意內容提出發想，計6小時。</p>
									<p>(三)「玩文學」廣告文案：由人社院教師與廣告實務工作者共同引導各組學生針對選定文創產品（例如推銷休閒旅遊景點、旅館、民宿等）的廣告文案進行撰寫練習，計6小時。</p>
									<p>(四)「玩美學」藝術創客：由人社院教師與業師共同上課，引導各組針對選定文創產品的商業藝術展現提出構想，計6小時。</p>
									<p>(五)「玩生態」社區參與：由人社院教師與業師共同上課，引導各組針對選定文創產品的連結社區進行意見蒐集與共識發展，計6小時。</p>
									<p>追夢：參訪數位文創公司6小時，例如奧亞數位文創、三貝德數位文創等，透過標竿學習。</p>
									
									<hr class="major" />

									<h2>課程內容</h2>
									<p>本創新教學試辦課程設計過程，採取PDCAB循環的實踐，包括規劃(plan)、實踐(do)、檢視(check)、回饋與改善(action)與標竿學習(benchmarking)等步驟，透過，逐步落實。</p>
									
									<hr class="major" />

									<h2>活動照片</h2>
									<p>「頑皮塘101數位文創智造夢工廠」創新教學試辦計畫運用觀念新穎、共同參與、學生主體、多元適性、科技善用、永續創新等原則加以設計。</p>
									
									
									<span class="image main"><img src="images/pic1.jpg" alt="" /></span>
</section>